{% extends "base.html" %}
{% load i18n bootstrap_toolkit %}

{% block content %}
    <div class="row">
        <div class="span12">
            <form class="form-horizontal" method="post">
                <h3 class="page-header">{% trans 'Login' %}</h3>
                {% csrf_token %}
                {{ form|as_bootstrap }}
                <div class="form-actions">
                    <input type="submit" value="{% trans 'Login' %}" class="btn btn-primary">
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        $("#login").addClass("active");
        $("#id_username").focus();
    </script>
{% endblock %}