{% extends "base.html" %}
{% load i18n bootstrap_toolkit %}
{% block title %}Redefinir senha{% endblock %}
{% block content %}

    {% include "snippets/message.html" %}

    <div class="row">
        <div class="span12">
            <p>Esqueceu sua senha? <small>Digite seu email no formulário abaixo e nós enviaremos instruções para criar uma nova senha.</small></p>
            <form class="form-horizontal" method="post">
                <h3 class="page-header">{% trans 'Alterar senha' %}</h3>
                {% csrf_token %}
                {{ form|as_bootstrap }}
                <div class="form-actions">
                    <input type="submit" value="Redefinição de senha" class="btn btn-primary">
                </div>
            </form>
        </div>
    </div>

{% endblock %}
