{% extends "base.html" %}
{% load i18n bootstrap_toolkit %}
{% block title %}Confirmar a redefinição de senha{% endblock %}
{% block content %}

    {% include "snippets/message.html" %}
    <div class="row">
        <div class="span12">
            <form class="form-horizontal" method="post">
                <h3 class="page-header">{% trans 'Alterar senha' %}</h3>
                {% csrf_token %}
                {{ form|as_bootstrap }}
                <div class="form-actions">
                    <input type="submit" value="Alterar" class="btn btn-primary">
                </div>
            </form>
        </div>
    </div>

{% endblock %}
