{% extends "base.html" %}
{% load i18n %}
{% load gravatar %}

{% block title %}
- {{ profile.user.username|capfirst }}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="span2">
            <p><a href="{{ profile.site }}" target="_blank"><img class="img-polaroid" src="{% gravatar_url profile.user.email 160 %}" alt="{{ profile.user.username }}" width="160" height="160" /></a></p>
            <p><i class="icon-share"></i> <strong>Redes sociais</strong></p>
            <ul class="redes-sociais">
                {% if profile.twitter %}
                    <li><a href="http://twitter.com/{{ profile.twitter }}">@{{ profile.twitter }}</a></li>
                {% endif %}
                {% if profile.facebook %}
                    <li><a href="{{ profile.facebook }}">Facebook</a></li>
                {% endif %}
                {% if profile.linkedin %}
                    <li><a href="{{ profile.linkedin }}">LinkedIn</a></li>
                {% endif %}
                {% if profile.bitbucket %}
                    <li><a href="{{ profile.bitbucket }}">Bitbucket</a></li>
                {% endif %}
                {% if profile.github %}
                    <li><a href="{{ profile.github }}">Github</a></li>
                {% endif %}
            </ul>
        </div>
        <div class="span6">
            <h3 class="page-header">
                {% if profile.site %}
                    <a href="{{ profile.site }}">
                {% endif %}

                {% if profile.user.first_name and profile.user.last_name %}
                    {{ profile.user.first_name }} {{ profile.user.last_name }}
                {% elif profile.user.first_name %}
                    {{ profile.user.first_name }}
                {% else %}
                    {{ profile.user.username|capfirst }}
                {% endif %}

                {% if profile.site %}
                <small>
                    {% if profile.site|slice:":5" == 'https' %}
                        {{ profile.site|slice:"8:" }}
                    {% else %}
                        {{ profile.site|slice:"7:" }}
                    {% endif %}
                </small></a>
                {% endif %}
            </h3>
            {% if profile.cv %}
                <h3>{% trans 'Mini CV' %}</h3>
                {% autoescape off %}{{ profile.cv }}{% endautoescape %}
            {% endif %}
        </div>
        <div class="span4">
            {% include "blog/blogroll.html" %}
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        $("#profile_detail").addClass("active");
    </script>
{% endblock %}
