{% extends "base.html" %}
{% load i18n bootstrap_toolkit staticfiles %}

{% block title %}Registro{% endblock %}

{% block content %}
<div class="row">
    <form class="form-horizontal" method="post">{% csrf_token %}
        <div class="span6">
            <h3 class="page-header">{% trans 'Usuário' %}</h3>
            {{ userform|as_bootstrap }}
            <h3 class="page-header">{% trans 'Perfil' %}</h3>
            {{ userprofileform|as_bootstrap }}
        </div>
        <div class="span6">
            <h3 class="page-header">{% trans 'Mini CV' %}</h3>
            <textarea id="redactor"></textarea>
        </div>
        <div class="span12">
            <div class="form-actions">
                <input type="submit" value="{% trans 'Save' %}" class="btn btn-primary" id="salvar">
            </div>
        </div>
    </form>
</div>
{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/redactor.css' %}" rel="stylesheet">
{% endblock %}
{% block script %}
    <script src="{% static 'js/redactor.js' %}"></script>
    <script>
        $(".register").addClass("active");
        $("#id_username").focus();
        
        // Redactor
        $(function(){
            $('#redactor').redactor();
            
            // Pegar texto para visualização
            var $id_cv = $("#id_cv");
            var text_content = $id_cv.text();
            $(".redactor_editor").html(text_content);
            
            // Enviar texto
            $("#salvar").click(function(){
                var html_content = $(".redactor_editor").html();
                $("#id_cv").html(html_content);
            });

            // Escondendo elemento textarea de CV
            $id_cv.closest(".control-group").css({"overflow": "hidden", "height": "0"});
        });
    </script>
{% endblock %}