/* General
-------------------------------------------------- */

body { padding-top: 60px; font-family: 'Open Sans', sans-serif }

/* Logo font
-------------------------------------------------- */

.brand { font-family: 'Days One', sans-serif }

/* Logo footer font
-------------------------------------------------- */

.brand-footer {
    margin-top: 30px;
    margin-bottom: 14px;
}
.brand-footer a {
    font-size: 80px;
    text-shadow: 0 3px 0 #e7e7e7;
    color: #eee;
}
.brand-footer a:hover {
    text-decoration: none;
    color: #f1f1f1;
}
.brand-slogan {
    text-transform: uppercase;
    color: #ddd !important;
    font-size: 13px;
    text-shadow: 0 1px 0 #fff;
}

/* Footer
-------------------------------------------------- */

.footer {
    padding: 70px 0;
    margin-top: 70px;
    border-top: 1px solid #e5e5e5;
    background-color: #f5f5f5;
}
.footer p {
    margin-bottom: 0;
    color: #777;
}
.footer-links {
    margin: 10px 0;
}
.footer-links li {
    display: inline;
    margin-right: 10px;
}