{% extends "admin/base.html" %}

{% block extrahead %}
    <script type="text/javascript">window.__admin_media_prefix__ = "{{ STATIC_URL }}admin/";</script>
    <!-- workaround to fix the links to static files added via javascript -->
{% endblock %}

{% block title %}{{ title }} | XSD{% endblock %}

{% block branding %}
<h1 id="site-name">XSD</h1>
{% endblock %}

{% block nav-global %}{% endblock %}
