{% load pygmentation %}
<div class='postagem'>
    <h3 class="page-header"><a href="{{ object.get_absolute_url }}">{{ object.title }}</a></h3>
    <p>
        Publicado por <a href="{{ object.autor.user.get_profile.get_absolute_url }}">
        <strong>
            {% if object.autor.user.first_name and object.autor.user.last_name %}
                {{ object.autor.user.first_name }} {{ object.autor.user.last_name }}
            {% elif object.autor.user.first_name %}
                {{ object.autor.user.first_name }}
            {% else %}
                {{ object.autor.user.username }}
            {% endif %}
        </strong>
        </a> em <strong>{{ object.publicacao }}</strong>
    </p>
    {{ object.texto|pygmentify }}
</div>