{% load i18n %}
<h2>{% trans "Contato: XSD Site" %}</h2>
<div>
    <h3>{% trans "Dados" %}:</h3>
    <strong>{% trans "Nome" %}:</strong> {{ name }}<br>
    <strong>{% trans "Email" %}: {{ email }}<br>
    <strong>{% trans "Telefone" %}: {{ phone }}<br>
    <strong>{% trans "Assunto" %}: <strong>{{ subject }}</strong>
</div>
<div>
    <h3>{% trans "Mensagem" %}:</h3>
    {{ message }}
</div>
