{% if messages %}
    {% for message in messages %}
        <div {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>
            <button type="button" class="close" data-dismiss="alert">×</button>
            {{ message|safe }}
        </div>
    {% endfor %}
{% endif %}