<div class="row">
    <div class="span4">
        <h3 class="page-header">Blog Roll</h3>
        <ul>
            <li><a href="http://mariochaves.blogspot.com" target="_blank" title="Blog Mário Chaves">Mário Chaves</a></li>
        </ul>
    </div>
</div>