{% extends "base.html" %}
{% load i18n %}

{% block content %}

<div class="row">
    <div class="span8">
        {% for object in object_list %}
            {% include "blog/includes/postagem.html" %}
        {% empty %}
            <h3>{% trans "Nenhuma postagem publicada até o momento." %}</h3>
        {% endfor %}
        {% include "snippets/paginate.html" %}
    </div>
    <div class="span4">
        {% include "blog/blogroll.html" %}
    </div>
</div>

{% endblock %}

{% block script %}
    <script>
        $("#blog").addClass("active");
    </script>
{% endblock %}